* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply transition-all duration-150;
}

html,
body {
  font-family: 'Inter', sans-serif;
  background-color: white;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  @apply bg-gray-50 dark:bg-gray-900 transition-colors;
}
